<div class="video_details" *ngIf="flag" >
  <button class="back_to_main" (click)="goToMainPage()">Back</button>
  <div class="video_card">
    <iframe width="854" height="480" [src]="embedURL()" frameborder="0" allowfullscreen></iframe>
    <div class="video_info">
      <div class="video_info--header">
        <div class="video_info--header--date">{{ video.snippet.publishedAt | date:'fullDate' }}</div>
        <div class="video_info--header--title">{{ video.snippet.title }}</div>
      </div>
      <div class="video_info--main">
        <div class="video_info--main--title">Description:</div>
        <div class="video_info--main--description">{{ video.snippet.description }}</div>
      </div>
      <div class="video_info--statistics">
        <div class="video_info--statistics--views">
          <div class="statistics_icon views"></div>
          <div class="statistics_number">{{ video.statistics.viewCount | number }}</div>
        </div>
        <div class="video_info--statistics--likes">
          <div class="statistics_icon likes"></div>
          <div class="statistics_number">{{ video.statistics.likeCount | number }}</div>
        </div>
        <div class="video_info--statistics--dislikes">
          <div class="statistics_icon dislikes"></div>
          <div class="statistics_number">{{ video.statistics.dislikeCount | number }}</div>
        </div>
        <div class="video_info--statistics--comments">
          <div class="statistics_icon comments"></div>
          <div class="statistics_number">{{ video.statistics.commentCount | number }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
